@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
  }

body {
    height: 90vh;
    background-color: #CDD4DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

#stripe {
    background-color: #374353;
    width: 300px;
    height: 40px;
    border-radius:  12px 12px 0 0;
}

#stripe p {
    color: white;
    margin: 20px 10px;
}

#display {
    background-color: #505C68;
    color: aqua;
    padding: 5px;
    width: 290px;
    height: 80px;
    font-family: digital-7;
    font-size: 2.5em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#display > p {
    width: 290px;
    margin-bottom: 15px;
}

.div-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 75px;
    height: 50px;
    color: white;
    border: 1px solid #778190;
    font-size: large;
}

.button-click {
    background-color: #A49582;
}

.btn-wide {
    width: 150px;
}

.btn-high {
    height: 90px;
}

.btn-light {
    background-color: #5B6A7D;
}

.btn-dark {
    background-color: #374353;
}

.btn-light-pressed {
    background-color: #A49582;
}

.btn-dark-pressed {
    background-color: #C8BCAC;
}

#btn-e {
    background-image: linear-gradient(to right, #F93E70, #FCA82D);
    border-radius: 0 0 12px 0;
}

#btn-p {
    border-radius: 0 0 0 12px;
}